<div class="about-me bg-black p-10">
  <div
    class="about flex items-center grid grid-cols-1 lg:grid-cols-2 grid-flow-row p-10 lg:mx-20 mt-10"
  >
    <div class="about-me-container">
      <div class="title">WHO IS GRAM MEDIA?</div>
      <div class="description">
        “As a video editor with three years of experience, I have honed my
        skills and developed a keen eye for detail. With a passion for
        storytelling, I strive to create powerful and captivating videos that
        leave a lasting impact on viewers. Through my expertise in various
        editing software and techniques, I am able to bring ideas to life and
        deliver high-quality content. With each project, I aim to exceed
        expectations and provide clients with visually stunning videos that
        effectively communicate their message”
      </div>
    </div>
    <div class="flex items-center flex-wrap h-[25rem] gap-1 lg:w-4/5">
      <div>
        <img
          src="../../assets/image/svg/block.svg"
          class="sm:h-24 sm:w-24 h- w-52"
        />
      </div>
      <div>
        <img
          src="../../assets/image/svg/filmora.svg"
          class="sm:h-24 sm:w-24 lg:h-28 lg:w-28"
        />
      </div>
      <div>
        <img
          src="../../assets/image/svg/block.svg"
          class="sm:h-24 sm:w-24 lg:h-28 lg:w-28"
        />
      </div>
      <div>
        <img
          src="../../assets/image/svg/adobe-effects.svg"
          class="sm:h-24 sm:w-24 lg:h-28 lg:w-28"
        />
      </div>
      <div>
        <img
          src="../../assets/image/svg/luma-fusion.svg"
          class="sm:h-24 sm:w-24 lg:h-28 lg:w-28"
        />
      </div>
      <div>
        <img
          src="../../assets/image/svg/block.svg"
          class="sm:h-24 sm:w-24 lg:h-28 lg:w-28"
        />
      </div>
      <div>
        <img
          src="../../assets/image/svg/procreate.svg"
          class="sm:h-24 sm:w-24 lg:h-28 lg:w-28"
        />
      </div>
      <div>
        <img
          src="../../assets/image/svg/block.svg"
          class="sm:h-24 sm:w-24 lg:h-28 lg:w-28"
        />
      </div>
      <div>
        <img
          src="../../assets/image/svg/adobe-premiere.svg"
          class="sm:h-24 sm:w-24 lg:h-28 lg:w-28"
        />
      </div>
      <div>
        <img
          src="../../assets/image/svg/canva.svg"
          class="sm:h-24 sm:w-24 lg:h-28 lg:w-28"
        />
      </div>
      <div>
        <img
          src="../../assets/image/svg/block.svg"
          class="sm:h-24 sm:w-24 lg:h-28 lg:w-28"
        />
      </div>
    </div>
  </div>
</div>
