<div class="about-me bg-black">
<div class="about md:grid grid-rows-1 grid-flow-col  gap-4  lg:mx-20 p-10 ">  
    <div class="about-me-container">
        <div class="title">About Me</div>
        <div class="description">“As a video editor with three years of experience, I have honed my skills and developed a keen eye for detail. With a passion for storytelling, I strive to create powerful and captivating videos that leave a lasting impact on viewers. Through my expertise in various editing software and techniques, I am able to bring ideas to life and deliver high-quality content. With each project, I aim to exceed expectations and provide clients with visually stunning videos that effectively communicate their message”</div>
    </div>
    <div class="">1</div>
  </div> 
</div>