<div class="fine-works-containe mx-auto max-w-full">
  <div class="w-full">
    <div class="bg-cover bg-fine bg-no-repeat flex justify-center h-[20rem]">
      <div
        class="message flex flex-col gap-y-4 justify-center text-center w-2/5 text-white"
      >
        <div class="md:text-base lg:text-6xl" data-aos="fade-up">
          Fine Works
        </div>
        <p class="md:text-base md:w-64 lg:text-2xl lg:w-auto">
          By empowering students to achieve their aspirations and make positive
          contributions to society through technological innovations, we aim to
          create a bright future for the tech industry.
        </p>
      </div>
    </div>
  </div>
</div>
