<div class="about-me bg-black p-10">
  <div
    class="about flex items-center grid grid-cols-1 lg:grid-cols-2 grid-flow-row p-10 lg:mx-20"
  >
    <div class="about-me-container">
      <div class="title p-2">Edit More</div>
      <div class="title p-2">Edit More</div>
      <div class="border"></div>
      <div class="description">
        As a video editor with three years of experience, I have honed my skills
        and developed a keen eye for detail.
      </div>
    </div>

    <div class="image">
      <img src="../../assets/image/png/male.png/" alt="" />
    </div>
  </div>
  <div class="footer">
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/relume.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/webflow.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/relume.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/webflow.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/relume.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/webflow.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/relume.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/webflow.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/relume.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/webflow.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/relume.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/webflow.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/relume.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/webflow.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/relume.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/webflow.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/relume.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/webflow.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/relume.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/webflow.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/relume.png"
      alt=""
    />
    <img
      loading="lazy"
      class="max-w-none"
      src="../../assets/image/png/webflow.png"
      alt=""
    />
  </div>
</div>
