<div class="container bg-black h-screen mx-auto max-w-max">
  <nav class="border-gray-200 dark:bg-gray-900">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <img
        src="../../../assets//image/png/logo-2.png"
        class="h-15"
        alt="Grammer Logo"
      />
      <div
        class="w-[52rem] border-2 border-slate-200"
        [hidden]="isMobile"
      ></div>

      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
          (click)="toggleMenu()"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
      <div
        class="w-full md:block md:w-auto"
        id="navbar-default"
        [class.hidden]="!isMenuOpen"
      >
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
        >
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-white md:bg-transparent md:p-0 dark:text-black md:hover:text-blue-700 dark:bg-white md:text-white"
              aria-current="page"
              >Work</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Resume</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="text-container h-96 flex justify-center items-center w-full">
    <div class="intro-text text-white md:text-8xl font-bold w-2/3">
      <div
        class="md:w-3/4 lg:w-full md:text-4xl lg:text-8xl flex flex-wrap h-5/6 justify-center text-center"
      >
        <div class="m lg:text-8xl">Meet your next</div>
        <div data-aos="fade-up-right" class="gradient-text">creative</div>
        <div class="ml-6">video editor</div>
      </div>
    </div>
  </div>
  <div
    class="line-container flex flex-col items-center gap-10"
    [hidden]="isMobile"
  >
    <div class="line-one w-2/3 h-0.5" [hidden]="isMobile"></div>
    <div class="line-two w-3/5 h-0.5" [hidden]="isMobile"></div>
    <div class="line-three w-1/2 h-0.5" [hidden]="isMobile"></div>
  </div>
</div>
