<div class="intro">
  <div class="bg-bg-intro h-screen">
    <div class="navbar p-9 pl-20 flex items-center text-xl text-white gap-x-10">
      <img class="cursor-pointer" src="../../assets/image/png/logo.png" alt="logo"/>
      <img src="../../assets/image/svg/horizontal-line.svg"/>
      <p class="cursor-pointer">Work</p>
      <p class="cursor-pointer">Resume</p>
      <p class="cursor-pointer">Contact</p>
    </div>
    <div class="text-container h-96 flex justify-center items-center w-full">
    <div class="intro-text text-white text-6xl font-bold w-1/2">
      <p class="mewo w-full flex h-5/6justify-center text-center">Meet your next  creative video editor</p>
    </div>
    </div>
  </div>
</div>

