<div class="eat-sleep-edit-repeat">
    <div class="eat-sleep-edit-repeat-container p-8 bg-bg-eat-sleep-repeat flex justify-center">
        <div class="message w-3/5">
            <div class="flex justify-start">
                <img src="../../assets/image/svg/eat eat.svg"/>
            </div>
            <div class="flex justify-end">
                <img src="../../assets/image/svg/sleep sleep.svg"/>
            </div>
            <div>
                <img src="../../assets/image/png/edit edit.png"/>
            </div>
          <div class="flex justify-end mt-8 ">
            <img src="../../assets/image/svg/repeat repeat.svg"/>
          </div>
           
        </div>
    </div>
</div>
