<div class="profile">
  <div class="header">
    <img id="pic" src="../../assets/image/png/profile-header.png" />
  </div>
  <div class="group">
    <div class="person">
      <img
        id="person"
        src="../../assets/image/png/grammer2.png"
        alt="Allen Grammer"
      />
    </div>
    <div class="person-info">
      <div class="title gradient-text">Works</div>
      <div class="description">
        I'm Grammer Allen, a skilled video editor driven to create captivating
        content that propels your business or brand. I'm also the founder of
        Gram Media, born from a passion for content creation and a mission to
        empower fellow creators through valuable resources and support.
      </div>
    </div>
    <div class="social-media">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
