<div class="offer-intro grid grid-cols-1 lg:grid-cols-2 bg-black mx-auto">
  <div class="question_description text-white">
    <p class="p-4">Benefits</p>
    <h1 class="text-4xl font-bold p-4">What Gram media offers?</h1>
    <p class="p-4">Entertainment</p>
    <p class="w-full p-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatibus
      esse, voluptatem veritatis dolores eius dolor doloribus, facere ad impedit
      porro recusandae alias enim in molestias doloremque vitae dolore officia.
    </p>
    <div class="p-4">
      <button
        class="learn-more-btn bg-white w-32 rounded text-center h-14 text-black shadow-lg shadow-indigo-500/50 hover:bg-slate-400"
      >
        Learn more
      </button>
    </div>
  </div>
  <div class="card">
    <div class="cards flex flex-wrap gap-8 m-32">
      <div class="w-52 h-52 bg-white rounded-md px-16 py-20 lg:pl-[5.5rem]">
        <img
          class="object-contain h-11"
          src="../../assets/image/png/cube.png"
          alt="cube-logo"
        />
      </div>
      <div class="w-52 h-52 bg-white rounded-md px-16 py-20 lg:pl-[5.5rem]">
        <img
          class="object-contain h-11"
          src="../../assets/image/png/cube.png"
          alt="cube-logo"
        />
      </div>
      <div class="w-52 h-52 bg-white rounded-md px-16 py-20 lg:pl-[5.5rem]">
        <img
          class="object-contain h-11"
          src="../../assets/image/png/cube.png"
          alt="cube-logo"
        />
      </div>
      <div class="w-52 h-52 bg-white rounded-md px-16 py-20 lg:pl-[5.5rem]">
        <img
          class="object-contain h-11"
          src="../../assets/image/png/cube.png"
          alt="cube-logo"
        />
      </div>
    </div>
  </div>
</div>
